@charset "utf-8";

#header {
    background-color: brown;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

#header > h2 {
    color: #FFF;
}

#header ul li {
    list-style-type: none;
    padding: 5px;
    display: inline-block;
}

#header li a {
    color: #FFF;
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form > div {
    width: 450px;
    padding: 10px;
}

.form h1 {
    text-align: center;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form input, .login-button {
    width: 250px;
    padding: 8px 10px;
    margin: 10px;
    border-radius: 30px;
    border-style: ridge;
    outline: none;
}
